<%- include("partials/header", {pageTitle}) %>
<div class="home-section">
  <div class="home-container">
    <div class="sidebar-container">
    <%- include("partials/sidebar") %>
    </div>


 <!-- Dissplay this content when A chat room is selected -->
    <div id="room-selected-content">
      <div class="chatroom-wrapper">
          <div id="chat-header">
          </div>
          <ul id="messages">
          </ul>
      </div>

      <div class="form-wrapper">
          <form id="form" action="">
            <input type="text" id="input" autocomplete="off" placeholder="Write something..." />
            <button>Send</button>
          </form>
      </div>
    </div>

    <!-- Display this content when NO chat room is selected -->
    <div id="room-not-selected-content">
      <img src="/images/chat-pic.jpg" class="image" alt="chat-picture">
      <h2>Welcome to "Channel Cluster", <%= username %>! 👋</h2>
      <p>Please select a Chat Channel from the sidebar to start chatting.</p>

    </div>


    

  </div>
</div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<script src="/js/app.js"></script>
<script>
  const username = "<%= username %>";
</script>


<%- include("partials/footer") %>
